.watch-list-wrapper {
  margin-top: 65px; // css variable
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .to-watch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
}
