<a routerLink="/addanime" class="btn btn-danger btn-lg">Add Anime</a> 
<a routerLink="/login" class="btn btn-danger btn-lg">Logout</a> 
<div class="watch-list-wrapper">
    
    <h3 *ngIf="movies.length < 1">Loading...</h3><!--if list is empty (loading message) will appear-->
    <h3 *ngIf="yetToWatchMovies.length">Anime To Watch</h3>
    <div class="to-watch"><!--Ng for is used-->
        <app-movie-tile
            *ngFor="let movie of yetToWatchMovies" 
            [imageUrl]="movie.image"
            [id]="movie.id"
            [isWatched]="movie.isWatched"
            [isFav]="movie.isFav"
            (favClick)="onFavClick(movie)"
            (watchedClick)="onWatchedClick(movie)"
        ></app-movie-tile>
    </div>
    <h3 *ngIf="watchedMovies.length">Watched Anime</h3> <!--Ng if is used-->
        <div class="to-watch">
            <app-movie-tile
                *ngFor="let movie of watchedMovies"
                [imageUrl]="movie.image"
                [id]="movie.id"
                [isWatched]="movie.isWatched"
                [isFav]="movie.isFav"
                (favClick)="onFavClick(movie)"
                (watchedClick)="onWatchedClick(movie)"
            ></app-movie-tile>
        </div>
</div>
